@charset "UTF-8";

body {
	background-color: #f9f9f9;
}

.avatar {
	width: 150px;
	height: 150px;
}

.cont {
	padding: 0;
	max-width: 935px;
	margin: 60px auto 0;
}

.photo {
	width: 100%;
}

.small {
	width: 28px;
	height: 28px;
}

.edit-small {
	width: 40px;
	height: 40px;
}

.row {
	margin: 0 !important;
}

.xs-option-container {
	margin: 10px 0;
}

.xs-option-container a {
	cursor: pointer;
	text-decoration: none;
}

@media (min-width: 767px) {
	#editLinks {
		display: block;
	}
}

.list-group-item {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.check {
	bottom: 3px;
	padding-right: 0;
	padding-bottom: 0;
}

.nobot {
	padding-bottom: 0;
}

.cont-welcome {
	padding: 0;
	max-width: 600px;
	margin: 60px auto 0;
}

.photo-welcome {
	width: 100%;
}

.title-welcome {
	padding: 14px 20px 14px;
}

h5 {
	margin-top: 0 !important;
	margin-bottom: 10px !important;
}

.logo {
	width: 175px;
	height: 51px;
}

.logotype {
	padding: 20px 0 0;
}

.fb-button {
	padding-bottom: 10px;
	width: 100%;
}

.input-area {
	padding-bottom: 15px;
}

.welcome-content {
	padding: 0 0 15px;
}

.links {
	padding-bottom: 15px;
}

.small-centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
 }
 
 .help-input {
 	margin-bottom: 25px;
 }
 
 .btn-help {
 	width: 20%;
 	margin-bottom: 25px;
 }